/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@CHARSET "UTF-8";

/* Workflow Designer : StyleSheet of Node List Area */
.node-list .x-panel-body {
	background: white;
	font: 12px 'Noto Sans', Arial, Helvetica, sans-serif;
}

.node-list .thumb {
	/*background: #dddddd;*/
	padding: 3px;
	padding-bottom: 0;
}

.x-quirks .node-list .thumb {
	padding-bottom: 3px;
}

.node-list .thumb img {
	height: 60px;
	width: 60px;
}

.node-list .thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

.node-list .thumb-wrap-disable {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

.node-list .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 66px; /* for ie to ensure that the text is centered */
	font: 11px 'Noto Sans', Arial, Helvetica, sans-serif;
}

.node-list .thumb-wrap-disable span {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 66px; /* for ie to ensure that the text is centered */
	font: 11px 'Noto Sans', Arial, Helvetica, sans-serif;
	text-decoration: line-through;
}

.node-list .x-item-over {
	border: 1px solid #dddddd;
	background: #efefef repeat-x left top;
	padding: 4px;
	cursor: pointer;
}

.node-list .x-item-selected {
	background: #eff5fb no-repeat right bottom;
	border: 1px solid #99bbe8;
	padding: 4px;
}

.node-list .x-item-selected .thumb {
	background: transparent;
}

.x-view-selector {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	border: 1px dotted;
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity = 50);
	zoom: 1;
	background-color: #c3daf9;
	border-color: #3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
	position: relative;
	overflow: hidden;
}